<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="TestPack.LoginTest"/>
     <class name="TestPack.DashboardTest"/>
       <class name="TestPack.AddSbuinitialTestCases"/>
       
    <!-- <class name="TestPack.AddSbuUITest"/>
      <class name="TestPack.LoginTest"/>
      <class name="TestPack.Testreportingmethdos"/>
      <class name="TestPack.AddSbuFunctionalTest"/>  
      <class name="TestPack.AddSBUProperTestCases"/>-->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
